---
layout: default
title: Writing & Notes
---

<h1>Writing & Notes</h1>

<p>A collection of short explainer posts, research notes, and thoughts.</p>

<ul class="item-list">
  {% for post in site.posts %}
    <li>
      <div class="item-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
      <div class="item-meta">{{ post.date | date: "%B %-d, %Y" }}</div>
      {% if post.excerpt %}
        <div class="item-desc">{{ post.excerpt | strip_html | truncatewords: 30 }}</div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
